* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  background-color: darkcyan;
}

.container div {
  background-color: rgb(0, 105, 105);
  border: 2px dashed black;
  padding: 20px;
  height: 80%;
  width: auto;
  margin: auto;
}

.container div h3 {
  text-align: center;
  margin-bottom: 10px;
}

.container div input {
  padding-left: 1.5px;
}

.container div button {
  padding: 0px 5px;
}

#car-list,
#searched-car-list {
  border: 1px dotted cyan;
  padding: 5px;
  margin: 5px 0px;
}
